# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Models & Data
models/starcoder2-3b/
models/starcoder-finetuned/
*.pth
*.bin
*.safetensors
data/raw/
data/processed/

# Data
data/**
# MLflow
mlruns/**
mlartifacts/

# Airflow
logs/**
airflow.db
airflow.cfg

# Docker
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
